[Desktop Entry]
Name=Lemur Updater
Description=Start lupdater.py in the background for update notifications.
Exec=lupdater &
Terminal=false
Type=Application
Categories=Utility;System;GTK
